@import url(https://fonts.googleapis.com/css?family=Parisienne:regular);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-container {
  background-color: #000067;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #fc89ac;
  font-family: "Parisienne", regular;
}

.registry-title {
  color: #fc89ac;
  text-align: center;
}

.date {
  color: #fc89ac;
  font-family: "Parisienne", cursive;
}

.our-story {
  margin: 20px
}

.row-navbar {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.navbar-style {
  margin: 10px;
}

.images {
  height: 300px;
}

.images-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.size-image {
  height: 200px;
}

.size-image-amazon {
  height: 150px;
}

.row-registry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media(max-width: 980px){
  .row-registry {
    display: flex;
    flex-direction: column;
  }
}